* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.column-gap-10 {
  gap: 1rem;
}
.vr-centre {
  align-items: center;
}
.hr-centre {
  justify-content: space-between;
}
.verified {
  margin-top: 0.5rem;
}
.grid {
  display: grid;
}
.grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-column-3 {
  grid-template-columns: repeat(3, 1fr);
}
.soft-pink-font {
  color: hsl(333, 80%, 67%);
}
.dark-magenta-font {
  color: hsl(300, 43%, 22%);
}
.dark-magenta-color {
  background-color: hsl(300, 43%, 22%);
}
.grayish-magenta-font {
}
.light-gray-font {
  background-color: hsl(300, 24%, 96%);
}
.white-font {
  color: hsl(0, 0%, 100%);
}
.white-background {
  background-color: hsl(0, 0%, 100%);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
