html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.container {
  padding: 8rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
}
.top-grid {
  width: 100%;
  gap: 120px;
  align-items: center;
}
.cta {
  width: 70%;
  max-width: 40rem;
  justify-self: start;
}
.ratings {
  width: 80%;
  max-width: 60rem;
}
.cta-heading {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  color: hsl(300, 43%, 22%);
}
.cta-paragraph {
  margin-top: 2rem;
  line-height: 1.5;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
}

.ratings-style {
  background-color: hsl(300, 24%, 96%);
  padding: 1.5rem 3.2rem;
  border-radius: 0.8rem;
  font-weight: 700;
}
.reviews {
  margin-right: 8rem;
  width: 41rem;
}
.report-guru {
  width: 41.5rem;
  margin-left: 4rem;
}
.best-tech {
  width: 41rem;
  margin-left: 8rem;
}

.testimonials {
  gap: 5rem;
}
.testimonial-1,
.testimonial-2,
.testimonial-3 {
  border-radius: 0.8rem;
  padding: 4rem 3rem;
}

.testimonial-1 blockquote,
.testimonial-2 blockquote,
.testimonial-3 blockquote {
  margin-top: 3rem;
  color: hsl(0, 0%, 100%);
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.5rem;
}
.testimonial-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 2.5rem;
}
